@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

a, li {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 4rem;
}

h2 {
    color: #b15e23;
    font-size: 1.2rem;
}

h3 {
    color: #3c1f0a;
}

p, span, table {
    color: #656565;
    font-size: 1rem;
}

header, section, .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

#sticky-nav {
    position: relative;
    top: 0;
    width: 100%;
}

header, footer {
    padding: 1rem 0;
}

nav {
    width: 100%;
    background-color: #b15e23;
    position: relative;
}

nav ul {
    max-width: 1200px;
    justify-content: flex-start;
    list-style: none;
    margin: 1rem;
    left: 0;
}

nav ul li {
    padding: 10px 5px 10px 5px ;
}

nav a {
    color: white;
    padding: 10px 5px 10px 5px ;
    text-decoration: none;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 16px;
}

.hamburger:focus {
    outline: none;
}

nav a:hover {
    background-color: #3c1f0a;
}

.menu-text {
    color: white;
}

.hamburger {
    display: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hlavicka {
    background-image: url("obrazky/footer_bg.gif");
}

#hlavicka h1 {
    display: flex;
    flex-direction: column;
    color: #bb784b;
    font-size: 1.6rem;
    padding-bottom: 30px;
}

#hlavicka h1 a {
    font-size: 2.8rem;
    font-family: "Helvetica", sans-serif;
    font-style: italic;
    color: white;
}

#hlavicka ul {
    margin: 0 auto;
    display: flex;
    gap: 1.3rem;
    font-size: 1.2rem;
}

#hlavicka nav ul li {
    position: relative;
}



#o-predmetu-wrapper {
    background: linear-gradient(to top, #f1f1f1, #ffffff);
}

#o-predmetu h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#o-predmetu p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

#prednasky-cviceni-wrapper {
    padding-top: 1rem;
}

#prednasky img {
    margin-top: 1rem;
}

#prednasky a {
    color: black;
    font-weight: bold;
}

#prednasky h3 {
    border-bottom: 2px dotted #b15e23;
    padding-bottom: 3px;
}

#prednasky p {
    margin-top: 8px;
}

#prehled-vysledku {
    margin-bottom: 2rem;
}


#prehled-vysledku h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


table {
    width: 100%;
}

thead {
    background-color: #d5a17c;
}

tbody tr td:nth-child(1) {
    text-align: left;
}

tbody td {
    text-align: center;
}

#cviceni h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#cviceni a {
    color: black;
    font-weight: bold;
}

#cviceni .exercise-item {
    padding-bottom: 35px;
}

#cviceni div, img {
    margin-top: 0.4rem;
}

#cviceni img {
    margin-top: 0.6rem;
}

.flex-container {
    display: flex;
    align-items: start;
    gap: 20px;
    padding-bottom: 15px;
    border-bottom: 2px dotted #b15e23;
}


#kontakt-predmety-wrapper {
    background-image: url("obrazky/footer_bg.gif");
}

#kontaktujte-nas dt {
    color: white;
}

#kontaktujte-nas div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 310px;
}

#kontaktujte-nas a {
    color: #b15e23;
}

#kontaktujte-nas h2 {
    color: white;
    margin-bottom: 15px;
}


#souvisejici-predmety {
    margin-left: 15px;
}

#souvisejici-predmety h2 {
    margin-bottom: 10px;
    color: white;
}

#souvisejici-predmety a {
    color: #b15e23;
}

#souvisejici-predmety li::before {
    content: url("obrazky/footer_list_bullet.gif");
    margin-right: 0.8rem;
}


.column {
    float: left;
    padding-left: 10px;
    width: 100%;

}

.column1 {
    float: left;
    width: 60%;
    box-sizing: border-box;
    flex-direction: column;
}

.row {
    padding: 0;
    display: flex;
}

.row2 {
    display: flex;
}

.colrow {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    flex: 1;
    display: flex;
    align-items: start;
    gap: 10px;
}

.column2 {
    width: 40%;
    float: left;
    background: linear-gradient(to right, #f1f1f1, #ffffff);
    box-sizing: border-box;
}

@media only screen and (max-width: 575px) {
    .hamburger {
        display: block;
    }

    #nav-menu {
        display: none;
        grid-gap: 10px;
        padding: 10px;
    }


    #nav-menu li:not(.active) {
        display: none;
    }

    #nav-menu li.active {
        display: block;
    }

    #nav-menu.show-grid {
        display: grid;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row2 {
        display: block;
    }
    .column {
        width: 100%;
    }
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .colrow {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .menu-text {
        display: none;
    }

    nav ul li.active .menu-text {
        display: inline;
        color: white;

    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row2 {
        display: block;
    }
    .column {
        width: 100%;
    }
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .colrow {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu-text {
        display: inline;
        color: white;
    }

    nav ul li.active .menu-text {
        display: inline;
        color: white;
    }
    .row2 {
        display: grid;
    }

    .column1 {
        width: 60%;
    }

    .column2 {
        width: 40%;
    }

    .colrow {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .menu-text {
        display: inline;
        color: white;
    }

    .column1 {
        width: 50%;
    }

    .column2 {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .hamburger {
        display: none;
    }

    .menu-text {
        display: inline;
        color: white;
    }

    .column1 {
        width: 50%;
    }

    .column2 {
        width: 50%;
    }
}